@use "~src/utils/styleUtils.scss" as *;
@use "~src/Dynode/view/index";

#dynodeContainer {
  left: 10px;
  width: 1200px;
  height: 600px;
  background-color: hsb(0, 0%, 70%);

  // Direct children because there can be nested svg
  & > svg {
    width: 1200px;
    height: 600px;
  }
}
